# Firebase configuration file (add your own locally)
Qui es tu/Supporting Files/GoogleService-Info.plist

# macOS metadata files
.DS_Store

# Xcode
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
/.swiftpm
/.build

# CocoaPods
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Xcode Derived Data
DerivedData/

# iOS Simulator Logs
*.simulatorlog

# Temporary Xcode files
*.xctmp

# Xcode .plist configuration for development teams
*.xcconfig

